DeStressVR/Content/textures/PurpleNebulaSky.dds
DeStressVR/Content/textures/FuzzyStarsSkyboxUnreal.dds
DeStressVR/Content/textures/PurpleNebSkybox.dds
DeStressVR/Content/AdvancedMagicFX11/Textures/T_ky_shockWave03_4x4.uasset
DeStressVR/Content/AdvancedMagicFX11/
DeStressVR/Content/AdvancedMagicFX07/Textures/
DeStressVR/Content/AdvancedMagicFX07/Particles/
DeStressVR/Content/AdvancedMagicFX07/Meshes/
DeStressVR/Content/AdvancedMagicFX07/Materials/
DeStressVR/Content/AdvancedMagicFX07/Blueprints/BP_ky_flareShotA.uasset
DeStressVR/Content/AdvancedMagicFX07/Blueprints/
DeStressVR/Content/AdvancedMagicFX07/DemoRoomData/
DeStressVR/Content/AdvancedMagicFX07/Maps/Overview.umap
